.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: blue;

    /* Resolvendo o efeito colateral do float */
    overflow: hidden;
}

/* Deixando os itens da lista
"flutuados" à esquerda (na prática,
ficam lado a lado) */
.menu li { float: left; }

.menu a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
}

.menu a:hover {
    background-color: white;
    color: blue;
}

/* Escondendo o item que tem o ícone */
.menu li.icone { display: none; }

@media screen and (max-width: 760px){
    /* Escondemos os itens do menu */
    .menu li { display: none; }

    /* Exibimos novamente o item/ícone Menu */
    .menu li.icone {
        display: block;
        float: right;
    }

    /* Regra "fechada"
    Somente se a lista estiver com as duas
    classes juntas ao mesmo tempo [menu e aberto]
    é que as configurações de float e display
    entrarão */
    .menu.aberto li {
        float: none;
        display: inline;
    }

    /* Posicionando o botão do menu
    à direita [right 0] e acima [top 0], em
    relação ao menu aberto. */
    .menu.aberto li.icone {
        position: absolute;
        right: 0; top: 0;
    }

    /* Quando o menu estiver aberto, ele
    passará a ser a referência de posicionamento
    do botão (menu ---)  */
    .menu.aberto { position: relative; }    
}



